body {
  background-color: rgb(238, 238, 238);
  font-family: "Roboto Condensed", sans-serif;
}

/* HEADER AND NAVIGATION STYLING */

header {
  border-bottom: 1px solid rgb(180, 180, 180);
}

.headerLogo {
  text-align: center;
}

.headerNav > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.headerContact {
  text-align: center;
  margin: 15px;
}

@media (min-width: 768px) {
  header {
    display: flex;
    flex-direction: row;
    padding: 0 10% 0 10%;
    align-items: center;
  }
  li > a {
    margin: 0px 0px 0px 30px;
  }
  .headerContact {
    flex-grow: 2;
    text-align: end;
  }
}

/* FLOATING NAVIGATION STYLING */

.floatingNav {
  position: fixed;
  display: flex;
  flex-direction: column;
  text-align: right;
  top: 50px;
  right: -300px;
  transition: right 0.5s;
  transition-timing-function: ease-out;
}

.floatingNav > a {
  background-color: aliceblue;
  padding: 5px 15px 5px 15px;
  margin: 5px 0 5px 0;
  border-radius: 10px;
  text-align: center;
  transition: all 0.5s;
}

#floatingContactUs {
  flex-grow: 2;
  margin-top: 30px;
}

.floatingNav > a:hover {
  background-color: rgb(175, 173, 173);
  transform: scale(1.1);
}

@media (min-width: 768px) {
  .show {
    right: 10px;
  }
}

/* MAIN BODY STYLING */

.mainContent > h1 {
  text-align: center;
  margin: 60px 0 60px 0;
}

@media (min-width: 768px) {
  .mainContent {
    padding: 0 20% 0 20%;
  }
}

/* BLOG POST CONTAINER STYLING */

.blogPost {
  padding: 10px;
  display: flex;
  align-items: center;
}

.blogPost > img {
  align-self: center;
}

.blogContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 10px 0 10px;
}

.blogTitle {
  margin: 0px;
  font-size: 22px;
}

.blogCaption {
  margin: 0px;
}

.blogReadMore {
  flex-grow: 2;
  text-align: end;
  text-decoration: underline;
}

/* FOOTER STYLING */

.footerContent {
  display: flex;
  flex: row;
  justify-content: center;
  align-items: center;
  /* position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center; */
}

.footerContent>ul>li {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}
