body {
  background-color: rgb(223, 223, 223);
}

@media (min-width: 1000px) {
  header {
    padding: 0 20% 0 20%;
  }
}

.headerLogo {
  text-align: center;
}

.headerNav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.headerNav > a {
  text-decoration: none;
}

.headerContact {
  text-align: center;
}

.headerContact > a {
  text-decoration: none;
}

.floatingNav {
    position: fixed;
    display: flex;
    flex-direction: column;
    text-align: right;
    top: 10;
    right: -300px;
    /* width: 250px;
    height: 100px; */
}

.floatingNav>a {
  text-decoration: none;
}

.show {
  right: 10px;
}

@media (min-width: 1000px) {
  .mainContent {
    padding: 0 20% 0 20%;
  }
}

.mainContent > h1 {
  text-align: center;
  margin: 60px 0 60px 0;
}

.blogPost {
  padding: 10px 0 10px 0;
}