body {
  background-color: rgb(223, 223, 223);
}

@media (min-width: 1000px) {
  header {
    display: flex;
    flex-direction: row;
    padding: 0 10% 0 10%;
  }
  .headerNav {
    align-items: center;
  }
}

header {
  border-bottom: 1px solid rgb(180, 180, 180);
}

.headerLogo {
  text-align: center;
}

.headerNav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: black;
}

.headerContact {
  text-align: center;
}

.floatingNav {
  position: fixed;
  display: flex;
  flex-direction: column;
  text-align: right;
  top: 50px;
  right: -300px;
  transition: right 0.5s;
  transition-timing-function: ease-out
  /* width: 250px;
    height: 100px; */
}

.floatingNav > a {
  background-color: aliceblue;
  padding: 5px 15px 5px 15px;
  margin: 5px 0 5px 0;
  border-radius: 50px;
  text-align: center;
  transition: all .5s;
}

.floatingNav >a:hover {
  background-color: grey;
  transform: scale(1.1);
}

@media (min-width: 1000px) {
  .show {
    right: 10px;
  }
}

.mainContent > h1 {
  text-align: center;
  margin: 60px 0 60px 0;
}

@media (min-width: 1000px) {
  .mainContent {
    padding: 0 20% 0 20%;
  }
}

.blogPost {
  padding: 10px 20px 10px 20px;
}
